<form action="/Customers/create" method="POST">
	<h2>Create A New Customer</h2>
	
	<input type="text" placeholder="name" name="name"/><br />
	<input type="email" placeholder="name" name="email"/><br />
	<input type="password" placeholder="pin" name="pin"/><br />

	<input type="submit" value="Submit"/>
</form>